<h2>This is My Product Page</h2>

<span>@ViewBag.a.staffID</span>&nbsp;
<span>@ViewBag.a.address</span>&nbsp;
<span>@ViewBag.a.name</span>&nbsp;
<br />

<span>@ViewBag.b.productID</span>&nbsp;
<span>@ViewBag.b.productPrice</span>&nbsp;
<span>@ViewBag.b.productName</span>&nbsp;
<span>@ViewBag.b.category</span>&nbsp;

<br />

